#container {
    background:#CCC;
    width: 960px;
    margin: 0 auto;

}

#top {
    border: 2px solid blue;
}

#navigation {
    border: 2px solid blue;
    width: 200px;
    float: left;
}

#content {
    border: 2px solid blue;
    margin-left: 230px;
    width: 500px;
}

#footer {
    border: 2px solid blue;
}