.galleri
{
    padding-top: 20px;
    padding-left: 100px;
}

@media only screen and (max-width:481px)
{
    .galleri
    {
        padding-top: 10px;
        padding-left: 30px;
    }
}

.galleri a
{
    background: white;
    width:180px;
    height:240px;
	display: inline;
	float: left;
	margin:10px;
	margin-bottom:40px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	transition: all .45s linear;
    position:relative;
}

@font-face
{
    font-family: ny_font;
    src: url(Pecita.otf);
}


.galleri a:after {
	color: black;
    font-family: ny_font;
    font-size: 20px;
    content: attr(title);
	position: relative;
	top: 10px;

}

.galleri img { 
	display: block; 
	width: 180px;
	height: 180px;
}

.galleri a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);
	z-index:-1;
}

.galleri a:nth-child(3n) { 
	-webkit-transform: rotate(-14deg);  
    font-size:12px;
    z-index:-2;
}


.galleri a:nth-child(4n)
{
	-webkit-transform: rotate(10deg);  
    font-size: 12px;
    z-index:-3;
}

.galleri a:nth-child(5n)
{
	-webkit-transform: rotate(-8deg);  
	font-size: 19px;
	z-index:-4;
}

@media only screen and (max-width:481px)
{
    .galleri img { 
    	display: block; 
    	width: 180px;
    	height: 180px;
    }
}


.galleri a:hover
    {
    	    
    	-webkit-transform: scale(1.2); 
    	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }

.galleri a:focus
    {
    	-webkit-transform: scale(1.2); 
    	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }
